{% extends "layout.html" %}

{% block content %}
  <main class="container signup-section">
    <div class="section-content">
      <h2>Sign up with Twili</h2>

      <form method="POST" action="/signup">
        {{ form.hidden_tag() }}
       
        
        <div class="form-group">
          {{ form.phonenumber.label }}

          {% if form.phonenumber.errors %}
            {% for error in form.phonenumber.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.phonenumber }}
        </div>
        
        {{ form.submit(class="btn-primary") }}
      </form>
    </div>
  </main>
{% endblock %}